/* BookList.css */
.custom-scrollbar::-webkit-scrollbar {
    height: 4px; /* Adjusts the height of the scrollbar */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background for track */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #c4c4c4; /* Gray color for the scrollbar thumb */
    border-radius: 10px; /* Round edges of the scrollbar thumb */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0; /* Darker gray on hover */
  }
  